h1{
	font-size: 6em;
}

h2{
	font-size: 2em;
}

p, li{
	font-size: 1.5em;
}

@media screen and (max-width: 600px){
	h1{
		font-size: 3em;
	}

	h2{
		font-size: 1.5em;
	}

	img{
		width: 100%;
		height: 100%;
	}

	li{
		font-size: 1.25em;
	}
}

.container{
	width: 100%;
}

.author{
    font-family: 'K2D', sans-serif;
    text-align: center; 
}

.author-info{
	text-align: center;
}

.author-labels{
	color: #2196f3;
}

.books-container{
	margin: 2%;
}

.book{
	margin-top: 2%;
	margin-bottom: 2%;
}

.book-thumbnail{
	width: 50%;
	height: 50%;
	margin-top: 2%;
	margin-bottom: 2%;
}

.book-label{
	text-decoration: underline;
}
